html {
    position: relative;
    min-height: 100%;
    
}
.middle{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    color: #FFF;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 2000px;
    font-family: 'Montserrat', sans-serif;
} 
/* --------------------------------------------------------------------- */
/* ---                          header                               --- */
/* --------------------------------------------------------------------- */
.header .navbar .logo a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Montez', cursive;
    font-size: 120px;
    text-decoration: none;
    color: #FFF;
    padding: 0;
    margin: 0;
}
.header .navbar .menu{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 50px;

    
}
.header .navbar .menu ul{
    list-style: none;
    padding: 0;
    margin :0;
    
}
.header .navbar .menu ul li{
    display: inline-block;
    margin: 0 25px;
    
}
.header .navbar .menu ul li a{
    text-decoration: none;
    color : #FFF;
    
}
/* --------------------------------------------------------------------- */
/* ---                          container                            --- */
/* --------------------------------------------------------------------- */
.container{
    justify-content: space-evenly;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
 .container .img-resize{
    
    width: 600px;
    height: auto;
    margin-bottom: 200px;
}
.container-fluid{
    display: inline-block;
    justify-content: center;
    width: 1170px;
    margin: 50px 50px;
    
   
}
.center{
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    color : rgb(201, 203, 204);
}
/* --------------------------------------------------------------------- */
/* ---                            footer                             --- */
/* --------------------------------------------------------------------- */
.footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #313342;
    color: #FFFFFF;
}
